<footer class="footer">
  <h2 class="section__title section__title--white">- get in touch with us -</h2>
  <p class="footer__text">
    Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.
    Curabitur blandit tempus porttitor vollisky inceptos mollisestor.
  </p>
  <div class="footer__links">
    <a class="footer__link footer__link--rss" href="#"><img src="@img/rss-icon.png" alt="rss icon" /></a>
    <a class="footer__link footer__link--facebook" href="#"><img src="@img/facebook-icon.png" alt="facebook icon" /></a>
    <a class="footer__link footer__link--twitter" href="#"><img src="@img/twitter-icon.png" alt="twitter icon" /></a>
    <a class="footer__link footer__link--dribbble" href="#"><img src="@img/dribbble-icon.png" alt="dribbble icon" /></a>
    <a class="footer__link footer__link--pinterest" href="#">
      <img src="@img/pinterest-icon.png" alt="pinterest icon"/>
    </a>
  </div>
  <p class="footer__contacts">Moonshine St. 14-05 Light City 
    <a href="tel:+001234567890">/ T. +00 (123) 456 78 90 /</a>
    <a href="mailto:first.last@email.com"> first.last@email.com</a>
  </p>
</footer>