<header>
  <div class="container">
    <nav class="nav">
      <div class="button">
        <img class="menu-icon" src="@img/menu.png" alt=""/>
        <img class="menu-icon inactive" src="@img/x.png" alt=""/>
      </div>
      <ul class="menu inactive">
        <li><a class="menu__item" href="#">home</a></li>
        <li><a class="menu__item" href="#">about us</a></li>
        <li><a class="menu__item" href="#">our journal</a></li>
        <li><a class="menu__item" href="#">projects</a></li>
        <li><a class="menu__item" href="#">news</a></li>
        <li><a class="menu__item" href="#">features</a></li>
        <li><a class="menu__item" href="#">contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="intro">
    <img src="@img/intro-img.png" alt="railways" />
  </div>
</header>
