@import "mixins";
@import "vars";

.footer {
    padding-top: 66px;
    padding-bottom: 70px;
    text-align: center;
    background: $bg-black-color;
    p {
        @include fontParams (400, 16px, 26px, $footer-txt-color);
    }
    .section__title--white {
        color: #FEFEFE;
        margin-bottom: 22px;
    }
    .footer__text {
        margin: auto;
        max-width: 684px;
    }
    .footer__links {
        @include flexCenter;
        gap: 6px;
        margin-top: 36px;
        margin-bottom: 34px;
        .footer__link {
            @include flexCenter;
            width: 34px;
            height: 34px;
            border-radius: 30px;
        }
        .footer__link--rss {
            border: 1px solid #F8902E;
        }
        .footer__link--facebook {
            border: 1px solid #39599F;
        }
        .footer__link--twitter {
            border: 1px solid #45B0E3;
        }
        .footer__link--dribbble {
            border: 1px solid #D97AB0;
        }
        .footer__link--pinterest {
            border: 1px solid #CC212C;
        }
    }
}