@import "mixins";
@import "vars";

.nav {
    position: relative;
}

.button {
    display: none;
}

.menu {
    max-width: 814px;
    height: 55px;
    margin: 30px auto;
    @include flexSpace;
    align-items: center;
    .menu__item {
        @include fontParams (400, 11px, 22px, #4E4E4E);
        letter-spacing: 1.1px;
        text-transform: uppercase;
        transition: $main-transition;
        &:hover {
            color: $hover-color;
          }
    }
}

.intro {
    max-width: 1170px;
    margin: 0 auto;
    img {
        display: block;
        margin: 0 auto;
        object-fit: contain;
    }
}

@media (max-width: 1199px) {
    .menu {
        max-width: 612px;
    }
    .intro {
        img {
            max-width: 768px;
        }
    }
}

@media (max-width: 767px) {
    .button {
        display: flex;
        justify-content: end;
        margin-top: 23px;
        margin-bottom: 23px;
        .menu-icon {
            width: 44px;
            height: 37px;
        }
    }

    .menu {
        position: absolute;
        right: 0;
        top: 37px;
        width: 183px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: #F5F5F5;
        margin: 0;
        align-items: stretch;
        .menu__item {
            display: block;
            height: 30px;
            padding-top: 10px;
            padding-left: 12px;
            &:hover {
                background-color: #e5e5e5;
            }
        }
    }

    .inactive {
        display: none;
    }

    .intro {
        margin: 0 auto;
        img {
            max-width: 320px;
        }
    }
}