@mixin fontParams ($fw, $fs, $lh, $color){
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $color;
}

@mixin flexSpace {
    display: flex;
    justify-content: space-between;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}