@import "reset";
@import "fonts";
@import "header";
@import "footer";
@import "mixins";
@import "vars";

html {
    scroll-behavior: smooth;
}

body {
    font-family: $main-font-family;
    font-style: normal;
}

.posts {
    margin: 70px auto;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.section__title {
    @include fontParams (700, 16px, 22px, $accent-txt-color);
    text-transform: uppercase;
}

.posts__container {
    @include flexSpace;
    flex-wrap: wrap;
}

.post {
    margin-top: 32px;
    max-width: 555px;
    height: 140px;
    display: flex;
    gap: 19px;
    &:hover .post__title {
        color: $hover-color;
      }
    .post__title {
        @include fontParams (700, 16px, 30px, $accent-txt-color);
        transition: $main-transition;
    }
    .post__comments {
        margin-top: 1px;
        margin-bottom: 13px;
        @include fontParams (400, 12px, 20px, #7C7C7C);
    }
    .post__text {
        @include fontParams (400, 14px, 26px, $main-txt-color);
    }
}

.instagram {
    margin: auto;
    padding-bottom: 48px;
    background: rgba(0, 0, 0, 0.03);

}

.instagram__header {
    @include flexSpace;
    padding-top: 46px;
    padding-bottom: 24px;
}

.instagram__header-link {
    @include fontParams (700, 13px, 22px, $accent-txt-color);
    transition: $main-transition;
    &:hover {
        color: $hover-color;
      }
}

.instagram__content {
    @include flexSpace;
}

.instagram__link {
    max-width: 285px;
    img {
        width: 100%;
        object-fit: contain;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 758px;
        margin: 0 auto;
    }
    .instagram__link {
        max-width: 250px;
    }
    .instagram__link:last-child {
        display: none;
    }
}

@media (max-width: 767px){
    .container {
        width: 100vw;
        padding-left: 25px;
        padding-right: 25px;
    }
    .posts {
        margin: 30px auto;
    }
    .posts__container {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .post {
        height: 196px;
        margin-top: 32px;
        flex-direction: column;
        gap: 0;
        img {
            width: 160px;
            height: 140px;
            margin-bottom: 10px;
        }
        .post__text {
            display: none;
        }
    }
    .post:last-child {
        display: none;
    }
    .instagram {
        background-color: transparent;
    }
    .instagram__header-link {
        display: none;
    }
    .instagram__link {
        max-width: 300px;
    }
    .instagram__link:not(:first-child) {
        display: none;
    }
}