$main-font-family: "Roboto", sans-serif;
$main-txt-color: #5C5C5C;
$accent-txt-color: #4E4E4E;
$hover-color: #57A4A4;
$bg-black-color: #000000;
$footer-txt-color: #B9B9B9;
$main-transition: 0.3s ease-in-out;